
#game-container {
    display: grid;
    place-items: center;
    gap: 20px; /* Espacement entre les lignes */
    margin: 0 auto; /* Centrage du conteneur */
    width: 80%; /* Largeur du conteneur avec de l'espace sur les côtés */
    max-width: 600px; /* Ajustez selon la largeur maximale désirée */
}

#image-row, #input-row {
    width: 100%; /* Les enfants prennent toute la largeur du conteneur */
    display: flex;
    justify-content: center; /* Centre les éléments horizontalement */
    align-items: center; /* Centre les éléments verticalement */
    
}

#input-row {
    justify-content: space-between; /* Répartit l'espace entre l'input et le bouton */
}

#input {
    width: 75%; /* Ajustez selon la largeur désirée pour l'input */
    padding: 0.5rem;
    border-radius: 0.5rem;
    font-weight: 700;
    font-size: 1rem;
    
}

#input::placeholder {
    font-size: 0.8rem;
    font-weight: 600;
}



button {
    width: 20%; /* Ajustez selon la largeur désirée pour le bouton */
}


#image-row img {
    max-width: 100%; /* Empêche l'image de dépasser la largeur de son conteneur */
    height: fit-content; /* Maintient le ratio d'aspect de l'image */
    max-height: 30rem;
    object-fit: contain; /* Assure que tout l'img est visible, ajustée à l'espace disponible */
}

#image-row {
    overflow: hidden;
    max-width: 30rem;
    max-height: 20rem;
    border:2px solid black;
    box-shadow: 5px 5px 20px rgba(0,0,0,0.5);
    border-radius: 10px;
}

#infos-row {
    display: flex;
    justify-content: space-between; /* Répartit les enfants aux extrémités de la ligne */
    width: 80%; /* Assurez-vous que cette largeur est cohérente avec les autres lignes pour l'alignement */
    margin: 0 auto; /* Centrage de la ligne */
}


#validate-input {
    min-width: 5rem;
    background-color: rgb(35, 150, 18);
    font-size: 1rem;
    padding: 0.5rem;
}

#validate-input::placeholder {
    background-color: rgb(31, 31, 31) !important;
}


#quit {
    padding: 0.5rem 0;
    margin: 1rem;
    background-color: rgb(227, 143, 69);
    font-size: 1rem;
    max-width: 6rem;
    min-width: 6rem;
}

#movie-answer {
    font-size: 1.1rem;
    font-weight: 700;
}

#points {
    font-weight: 600;
    font-size: 1.1rem;
}

#turn {
    font-weight: 600;
    font-size: 1.1rem;
}

#time {
    font-weight: 600;
    font-size: 1.1rem;
}