.container {
    text-align: center;
}

.score-board {
    margin-bottom: 5rem;
}

.progress-container-vertical {
    width: 100px; /* Largeur de la barre de progression */
    height: 300px; /* Hauteur de la barre de progression */
    background-color: #e0e0e0;
    border-radius: 25px;
    margin: 20px auto;
    position: relative;
    display: flex;
    align-items: flex-end; /* Aligner la barre de progression vers le bas */
}

#progress-bar-vertical {
    background-color: #4CAF50;
    width: 100%; /* Prend toute la largeur du conteneur */
    height: 0%; /* Valeur initiale - sera ajustée par JS */
    border-radius: 25px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: 2s;
}


#buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5rem;
}

#player-name {
    color: white;
    transform: rotate(-90deg); /* Rotation du texte pour l'alignement vertical */
    transform-origin: center;
}


#return-menu {
    min-width: 5rem;
    background-color: rgb(201, 116, 46);
    font-size: 1rem;
    padding: 0.5rem;
}

#return-session {
    min-width: 5rem;
    background-color: rgb(160, 46, 201);
    font-size: 1rem;
    padding: 0.5rem;
}

#points {
    font-weight: 600;
    font-size: 1.3rem;
}