


#config-section {
    display: flex;
    margin: 0 5rem;
    gap: 10rem;
    justify-self: center;
    margin-top: 2rem;
}

.settings {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.settings-title {
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    font-weight: 600;
    background-color: #fddf9e;
    border-radius: 0.5rem;
    box-shadow: 0.5rem 0.3rem 0.8rem -0.4rem rgb(128, 128, 128);
    margin-bottom: 1rem;
}

.setting {
    width: 30rem;
}

.setting .select, .number-select {
    width: 15rem;
}

table {
    border-collapse: collapse;
}

#players-number-cell {
    height: 2rem;
}

.setting td {
    border: 2px solid rgb(0, 0, 0);
    padding: 0.5rem;
    text-align: left;
    box-sizing: border-box;
}

.setting-name {
    font-weight: 600;
}

.no-padding {
    padding: 0 !important;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="text"],
input[type="number"] {
    font-weight: 700;
    font-size: 1rem;
    padding: 0 0.5rem;
}

input::placeholder {
    font-size: 0.8rem;
    font-weight: 550;
}

input[type="text"],
input[type="number"],
select {
    width: 100%;
    height: 2rem;
    box-sizing: border-box;
    border: none;
    text-align: center;
    -moz-appearance: textfield;
}

input[name="player-name"] {
    text-align: left;
    width: 10rem;
}

.precisions {
    font-size: 0.7rem;
    font-style: italic;
}

.radio-select {
    width: 7.5rem;
}

.radio-label div {
    font-weight: 500;
}

.radio-label > input {
    visibility: hidden;
    position: absolute;
}

.radio-label > input + div {
    cursor: pointer;
    padding: 0.5rem;
    text-align: center;
}

.radio-label > input:checked + div {
    background-color: #ffd6bb;
    font-weight: 700;
}

.radio-label > input:disabled + div {
    background-color: #f0f0f0;
    color: #999;
    cursor: not-allowed;
}

select[diabled] {
    pointer-events: none;
    background-color: #f0f0f0;
    color: #999;
    cursor: not-allowed;
}

.player-settings {
    width: 20rem;
}


.error {
    color: red;
    font-weight: 600;
}


#start-game {
    justify-self: center;
    margin-top: 2rem;
    background-color: #29b34b;
}

#players-number-cell {
    display: none;
}

select {
    font-size: 1.1rem;
    font-weight: 500;
}

form {
    display: grid;
}


#quit {
    padding: 0.5rem 0;
    margin: 1rem;
    background-color: rgb(227, 143, 69);
    font-size: 1rem;
    max-width: 6rem;
    min-width: 6rem;
}